
/*
	Name: gameLogic.js
	Author : Nicolas Gardin
	Author : Vincent Susinu

*/



/*---------mainStyles----------*/
	.fill{
	}

	html{
		scroll-behavior: smooth;

	}
	body{
		font-family: 'Montserrat', sans-serif;
		padding: none; margin: none;
		 user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;
	}
	body::-webkit-scrollbar {
	    width: 2vh;
	}
	body::-webkit-scrollbar-track {
	    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	}
	 
	body::-webkit-scrollbar-thumb {
	  background-color: darkgrey;
	  outline: 1px solid slategrey;
	}

#startGameBtnText{
	display:none;
	opacity:0;
	transition: 1s;
	font-size: 1.3vw;
	padding-top: 2.4vh;
}


/*---------startScreen----------*/

#startScreen{
	position: fixed; left: 0; top: 0;
	height: 100vh; width: 100vw;
	/*	background: linear-gradient(to top left, #669999 0%, black 100%);*/
	z-index: 500;
	background-image: url("images/bgBlurred.png");
	background-position: center; background-repeat: no-repeat;
	background-size: 100vw 100vh;
	transition: 2s;
}
#logo{
	position: fixed;
	left: 0; right: 0; top: 25vh;
	margin-left: auto; margin-right: auto;
	height: 35vh; width: 20vw; 
}
#btnSection{
	position: fixed;
	height: 10%; width: 40vw;
	left: 0; right: 0; bottom: 25vh;
	margin-left: auto; margin-right: auto;
	margin-top: 1vh;
	z-index: 5000;
	display: inline-block;
	transition: 0.5s;
}
	.btn{
		font-size: 0.7vw;
		height: 2vw; width: 2vw;
		color: white; background-color:none;
		text-align: center;
		line-height: 2vw;
		vertical-align: middle;
		display: inline-block;
		cursor: pointer;
		transition: 0.2s;
		box-sizing: none;
	}
	.btn:hover{
		border-bottom: 10px white solid;
		margin-top: -10px;
	}
	#btn1, #btn7{
		margin-left: 0;
	}
	#input{
		margin-left: 0vw; margin-top: 1vh;
		position: relative;
		height: 10%; width: 30%;
	}
	.inputText{
		color: white;
		font-size: 1vw;
		text-align: center;
		display: inline-block;
		margin-left: 2vw;
	}
	#charSelBtn{
		position: fixed;
		height: 8vh; width: 15vw;
		left: 0; right: 0; bottom: 15vh;
		margin-left: auto; margin-right: auto; 
		background-color: #1f1f1f;
		opacity: 0;
		transition: 1s;
		padding: 0;
	}
	#charSelText{
		text-align: center;
		color: white;
		font-size: 1vw;
		line-height: 8vh;
		vertical-align: middle;
		padding: 0;
	}
	#charSelText:hover{
		cursor: pointer;
		opacity: 1;
	}
	p{padding: 0;}


/*---------charSelection----------*/
	#charSelectionDiv{
		display: block;
		height: 100vh; width: 100vw;
		background-color: #E0E0E0;
	/*	background: linear-gradient(to top left, #669999 0%, black 100%);*/
		overflow-y: scroll;
		opacity: 1;
		transition: 2s;
		z-index: 3001;
	}
	#controllerDiv{
		display: block;
		background-image: url("images/bgBlack2.jpg");
	    position: fixed;
	    left: 0vw; top: 0;
	    padding: 2vw;
		float: right;
		height: 100vh; width: 100vw;
		background-size: cover;
		background-repeat: no-repeat;
		overflow-y: scroll;
		z-index: 100;
		box-sizing: border-box;
		overflow-x: hidden;
		white-space: nowrap;
	}
	#controllerDiv::-webkit-scrollbar {
	    width: 2em;
	}
	 
	#controllerDiv::-webkit-scrollbar-track {
	    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	}
	 
	#controllerDiv::-webkit-scrollbar-thumb {
	  background-color: darkgrey;
	  outline: 1px solid slategrey;
	}
	#messageDiv{
		/*display: none;*/
		height: 12vh; width: 35vw;
		background-color: grey;
		color: white;
		font-size: 3.5vh;
		opacity: 0.7;
		border: 1px solid black;
		position: absolute;
		text-align: center;
		line-height: 12vh;
		vertical-align: middle;
		border: 1px solid black;
		box-shadow: 10px 10px 30px black;
		transition: 0.2s;
		font-size: 3vh;
		opacity: 0;
		position: fixed;
		color: white;
		left: 12vw; top: 50vh;
		z-index: 300;
	}
	#messageDiv:hover{
		opacity: 0.7;
	}
	#leftSectionDiv{
		padding: 1vw;
		float: left;
		height: 160vh; width: 60%;
		background-size: cover;
		background-repeat: no-repeat;
		overflow-y: scroll;
		z-index: 100;
		box-sizing: border-box;
		overflow: hidden;
		white-space: nowrap;
	}
	#playerNum{
		margin: 0; padding-left: 1vw;
		color: white;
		font-size: 1.5vw
	}
	h1{
		padding: 0.5vw; margin: 0vw;
		font-size: 3vw;
		color: white;
		z-index: 100;
	}
	#submit{
		padding-left: 1vw;
	}
	#startBtn{
		height: 7vw; width: 7vw;
		position: absolute;
		z-index: 2;
		top: 4vw; right: 38vw;
		background-image: url("images/start.png");
		background-size: cover;
	/*	animation: bounce 2s infinite;*/
		cursor: pointer;
	}
	@keyframes bounce{
		0%, 100% {
	    transform: translateY(0);
	  }
	  50% {
	    transform: translateY(20px);
	  }
	} 

	#selectionText{
		position: fixed;
		right: 2vw; top: 2vh;
		height: 15%; width: 50%;
		background: linear-gradient(to top left, blue 0%, black 100%);
		background: black;
		display: inline-block;
		border-radius: 20%;
	}
	#selectionScreen{
		padding: 2vw;
		float: right;
		height: 60vh; width: 40%;
		background-size: cover;
		background-repeat: no-repeat;
		overflow-y: scroll;
		z-index: 100;
		box-sizing: border-box;
		overflow-x: hidden;
		white-space: nowrap;
	}
	#displayScreen{
		position: absolute; bottom: 2vh; left: 0%;
		height: 55%; width: 40%;
		background-color: white;
		margin-left: 3vw;
		margin-right: 3vw;
		margin-top: 10vh;
		margin-bottom: 2vh;
		background-image: url("images/character_assets/CharacterSelection_gifs/mainGif.gif");
		background-size: cover;
	}
	#startInfo{
		position: absolute;
		right: 15vw; top: 10vh;
		height: 3vw; width: 20vw;
		z-index: 10;
		background-color: white;
		border: 1px black solid;
		box-shadow: 5px 5px 10px black;
	}
	@keyframes flipOne{
		0%{}
		100%{opacity: 0;}
	/*	100%{transform: rotateY(180deg);}*/
	}

	@keyframes flipTwo{
		0%{ opacity: 0; }
		100%{opacity: 1;}
	}
	#selectionScreen::-webkit-scrollbar {
	    width: 2em;
	}
	#selectionScreen::-webkit-scrollbar-track {
	    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	}
	#selectionScreen::-webkit-scrollbar-thumb {
	  background-color: darkgrey;
	  outline: 1px solid slategrey;
	}
	#charSelNumText{
	    position: fixed;
	    top: 12vh;
	    left: 0vw;
	    height: 5vh;
	    width: 25vw;
	    background-color: black;
	    text-align: left;
	    line-height: 0.5vh;
	    color: white;
	    vertical-align: middle;
	    cursor: pointer;
	    z-index: 100;
	    box-shadow: 10px 10px 30px #1f1f1f;
	    opacity: 0.8;
	    padding-left: 3vw;
	    opacity: 0.6;
	    transition: 0.2s;
	}
	#normalText{
		font-size: 1.3vw;
		padding-top: 2.4vh;
	}
	p{
		margin: 0vh;
	}
	.char{
		height: 25%; width: 18%;
		margin-left: 1vw; margin-top: 3vh;
		background-color: black;
		display: inline-block;
	  	box-shadow: 5px 5px 10px black;
	  	background-size: cover;
	  	background-position: 0px 125px;
	  	cursor: pointer;
	  	animation-fill-mode: forwards;
	  	transition: 0.5s;
	  	z-index: 2000;
	}
	.char:hover{
		height: 27%; width: 19%;
		box-shadow: 20px 20px 40px 5px black;
	}
	.charModels{
		height: 40vh; width: 10vw;
		position: absolute;
		background-size: contain;
		background-repeat: no-repeat;
/*		-webkit-filter: grayscale(100%);
		filter: grayscale(100%);*/
		left: 0vw; bottom: 2vh;
		opacity: 0.15;
		transition: 0.2s;
		/*display: none;*/
		border: 0;
		z-index: -2;
	}

	/*-----------Char Models----------*/


	#budlight{
		left: 2vw; bottom: 13vh;
		content: url("Characters/Char/budlight.png");
		z-index: 6;
		height: 33vh; width: 8;
	}
	#corona{
		left: 11.5vw; bottom: 13vh;
		content: url("Characters/Char/corona.png");
		z-index: 6;
		height: 61vh;
		width: 9vw;
	}
	#redbull{
		left: 20vw; bottom: 8.5vh;
		content: url("Characters/Char/redbull.png");
		z-index: 6;
		height: 40vh; width: 8vw;
	}
	#stella{
		left: 27.4vw; bottom: 9.5vh;
		content: url("Characters/Char/stella.png");
		z-index: 6;
		height: 62vh; width: 9.5vw;
	}
	#whiskey{
		left: 35.5vw; bottom: 12vh;
		content: url("Characters/Char/whiskey.png");
		z-index: 6;
		height: 72vh; width: 11vw;
	}
	#guinness{
		left: 45vw; bottom: 6vh;
		content: url("Characters/Char/guinness.png");
		z-index: 6;
		height: 48vh; width: 11vw;
	}
	#smirnoff{
		left: 2vw; bottom: -54.5vh;
		content: url("Characters/Char/smirnof.png");
		z-index: 6;
		height: 32vh; width: 10vw;
	}
	#heineken{
		left: 12vw; bottom: -56vh;
		content: url("Characters/Char/heineken.png");
		z-index: 6;
		height: 54vh; width: 8.5vw;
	}
	#rumCoke{
		left: 20vw; bottom: -59vh;
		content: url("Characters/Char/rumAndCoke.png");
		z-index: 6;
		height: 45vh; width: 10vw;
	}
	#martini{
		left: 27vw; bottom: -61vh;
		content: url("Characters/Char/martini.png");
		z-index: 6;
		height: 50vh; width: 10vw;
	}
	#wine{
		left: 36vw; bottom: -56vh;
		content: url("Characters/Char/wine.png");
		z-index: 6;
		height: 50vh; width: 10vw;
	}
	#whiteclaw{
		left: 45vw; bottom: -57vh;
		content: url("Characters/Char/whiteClaw.png");
		z-index: 6;
		height: 45vh; width: 9vw;
	}
	#char1:hover ~ #budlight {
		filter: none;
		opacity: 1;
	}
	#char2:hover ~ #corona {
		filter: none;
		opacity: 1;
	}
	#char3:hover ~ #redbull {
		filter: none;
		opacity: 1;
	}
	#char4:hover ~ #stella {
		filter: none;
		opacity: 1;
	}
	#char5:hover ~ #whiskey {
		filter: none;
		opacity: 1;
	}
	#char6:hover ~ #guinness {
		filter: none;
		opacity: 1;
	}
	#char7:hover ~ #smirnoff {
		filter: none;
		opacity: 1;
	}
	#char8:hover ~ #heineken {
		filter: none;
		opacity: 1;
	}
	#char9:hover ~ #rumCoke {
		filter: none;
		opacity: 1;
	}
	#char10:hover ~ #martini {
		filter: none;
		opacity: 1;
	}
	#char11:hover ~ #wine {
		filter: none;
		opacity: 1;
	}
	#char12:hover ~ #whiteclaw {
		filter: none;
		opacity: 1;
	}
	body{
		padding: 0;
		margin: 0px;
		background-color: black;
	}
	.selected{
		-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
		filter: grayscale(100%);
		pointer-events: none;
		color: grey;
	}



	#startLine{
		position: absolute;
		z-index: 0; bottom: -20vh;
		left: 0vw;
		transform: skewY(90deg); 
		transform: rotate(45deg);
		height: 105vh; width: 40vw;
		overflow: hidden;
	}



/*---------gameScreen-------------*/
	#gameScreen{
		height: 90vh; width: 1593vw;
		background-color: #1f1f1f;
		display: none;
		overflow-x: hidden;
		overflow-y: hidden;
	}
	#gameScreen2{
		position: absolute;
		height: 95vh; width: 1593vw;
		display: inline-block;
		overflow-x: hidden !important;
		overflow-y: hidden !important;
	}
	.seperator{
		height: 100vh; width: 5vw;
		position: relative;
		left: -2.5vw; top: 0;
		padding: 0; margin: 0;
	}
	.gameTile, .lastCard{
		height: 67vh; width: 23vw;
		margin-top: 0vh; margin-left: 0vw;
		box-shadow: 10px 10px 30px black;
		display: inline-block;
		left: 0; right: 0;
		position: relative;
		margin-left: 1.5vw;
		margin-top: 4vh;
		box-sizing: border-box;
		background-size: auto;
		background-size: 100% 100%;
		z-index: 10;
		cursor: pointer;
		overflow: hidden;
	}
	#card1{
		animation-name: jump;
      	animation-duration: 3s;
      	animation-iteration-count: infinite;
      	animation-timing-function: linear;
	}
	.lastCard{
		width: 80vw;
		background-color: red;
		margin-left: 0; margin-top: 0; margin: 0;
		float: right;
		margin-right: 11.5vw;
		margin-top: 28.84px;
		overflow-x: hidden;
		overflow-y: hidden;
	}
	#clickMeHand{
		position: absolute;
		height: 7vh; max-width: 7vw;
		top: 15vw; left: 2vw;
		background-image: none;
		transform: rotate(30deg);
		animation-name: click;
		animation-duration: 3.5s;
		animation-iteration-count: infinite;
		animation-timing-function: linear;
		z-index: 100;
	}

	#mysteryBox1, #mysteryBox2, #mysteryBox3,
	#mysteryBox4, #mysteryBox5, #mysteryBox6{
		height: 40vh;width: 20vw;
		position: absolute;
		left: 510vw; bottom: 20vh;
		opacity: 0.15;
		z-index: 10;
		transition: 0.2s;
	}
	#mysteryBox1:hover, #mysteryBox2:hover, #mysteryBox3:hover,
	#mysteryBox4:hover, #mysteryBox5:hover, #mysteryBox6:hover{
		opacity: 0.7;
		cursor: pointer;
		z-index: 20;
	}
	#mysteryBox2{left: 220vw;}
	#mysteryBox3{left: 750vw;}
	#mysteryBox4{left: 1230vw;}
	#mysteryBox5{left: 1410vw;}
	#mysteryBox6{left: 1100vw;}

	@keyframes click {
		20% {
			transform: rotate(80deg);
		} 30%{
			transform: rotate(70deg);
		} 40%{
			transform: rotate(90deg);
		} 60%{
			transform: rotate(30deg);
		}
	}

/*jump animation*/
@keyframes jump {
	from, 20%, 53%, 80%, to {
		-webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
		animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
		-webkit-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
	}
	40%, 43% {
		-webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
		animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
		-webkit-transform: translate3d(0, -40px, 0);
		transform: translate3d(0, -40px, 0);
	}
	60% {
		-webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
		animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
		-webkit-transform: translate3d(0, -15px, 0);
		transform: translate3d(0, -15px, 0);
	}
}
	.jump {
		-webkit-animation-name: bounce;
		animation-name: bounce;
		-webkit-transform-origin: center bottom;
		transform-origin: center bottom;
	}
	#app {
		display: flex;
		align-items: center;
		justify-content: center
	}
	/*---------bottom panel-----------*/
	.bottomPanel{
		display: none;
		position: fixed;
		height: 10vh; 
	}
	#controlPanel{
		bottom: 0; left: 0;
		width: 100vw;
		background-color: #1f1f1f;
		box-sizing: border-box;
		color: white;
		letter-spacing: 10px;
	}
	#rollText{/**/
		font-size: 4vh;
		vertical-align: middle;
		text-align: center;	
	}
	#rollDie{
		position: absolute;
		left: 0; bottom: 0;	
		padding: 0; margin: 0;	
	}
	#rollDieText, #rollTurnText{
		left: 0;
		width: 50vw;
	}
	#rollTurnText{
		display: none;
		z-index: 1000;
	}
	.panelText{
		float: left;
		vertical-align: middle;
		text-align: center;	
		font-size: 4vh;
		vertical-align: middle;
		text-align: center;	
		padding: 0; margin: 0;
		bottom: 0;	
		height: 10vh; width: 5vw;
		z-index: 200 !important;
		left: 62vw;
	}
	#rollDieText{
		padding: top: 2vh;
		z-index: 1000;
	}
	#rollNumText{
		position: fixed;
		font-family: 'Press Start 2p';
		z-index: 200 !important;
	}
	#rollNum{
		left: 50vw;	
		padding: 0; margin: 0;
	}
	.playerStyle{
		position: absolute; bottom: 15vh;
		float: left;
		transition: 2s;
		z-index: 15;
	}
	#floor{
		position: absolute; bottom: 10vh;
		left: 2vw; height: 10vh; width: 300vw;
		background-color: #1f1f1f;
		overflow: visible;
		z-index: 0;
		transform: skew(-0.07turn, 0deg);
		background-image: url("characterModels/floorTile.jpg");
	}
	#die{
		height: 10vh; width: 6vw;
		position: fixed;
		left: 53vw; bottom: 3vh;
	}


/*---------Model------------------*/
	#closeModelIcon{
		position: fixed; right: 5vw; top: 6vh;
		color: white;
		display: none;
		font-size: 5vh;
		opacity: 0.3;
		z-index: 100;
	}
	#modelDialog{
		position: fixed; 
		left: 20vw; top: 0;
		margin-top: 15vh;
		height: 50vh; width: 60vw;
		background-color: black;
		z-index: 20;
		display: none;
		border: 1px solid black;
		box-shadow: 10px 10px 30px black;
	}
	#coverProof{
		position: fixed;
		left: 0; top: 0;
		height: 100vh; width: 100vw;
		z-index: 19;
		display: none;
		cursor: pointer;
	}
	#modelImg{
		position: absolute;
		left: 10px; top: 10px;
		height: 48vh; width: 18vw;
	}
	#modelText{
		position: absolute;
		right: 10px; top: 10px;
		height: 48vh; width: 40vw;
		background-color: darkgrey;
		background-image: url("images/bgBlack2.jpg");
		text-align: center;
		padding-top: 8vh;
		font-size: 5vh;
		box-sizing: border-box;
		padding-left: 4vw; padding-right: 4vw;
		background-size: cover;
		background-repeat: no-repeat;
		color: white;
	}
	#bottomCover{
		position: absolute;
		bottom: 0; left: 0;
		height: 12vh; width: 100vw;
		background-color: #002266;
		text-align: center;
		color: white;
		font-size: 4vh;
		line-height: 10vh;
		vertical-align: middle;
		cursor: pointer;
	}
	/*buttons*/
	
	.start-btn{
		text-align: center;
		display: inline-block;
		margin: 5px;
		font-weight: bold;
		padding: 2vh 0 10px 10px ;
		background-color: #56545c;
		text-shadow: -1px -1px black, 1px 1px white;
		color: lightgrey;
		-webkit-border-radius: 7px;
		-moz-border-radius: 7px;
		-o-border-radius: 7px;
		border-radius: 7px;
		box-shadow: 0 .2em darkgray;
		cursor: pointer;
		font-family: 'Press Start 2p';
		font-size: 2vw;
		bottom: 12vh;
		height: 3vw;
		margin-bottom: 3vh;
	}
	.start-btn:active {
		box-shadow: none;
		position: relative;
		top: .2em;
	}
	.start-btn:hover{
		cursor: pointer;
	}
	#rollDieText:hover{
		cursor: pointer;
	}


