
/*
	Name: gameLogic.js
	Author : Nicolas Gardin
	Author : Vincent Susinu

*/



/*---------mainStyles----------*/
	.fill{
	}

	html{
		scroll-behavior: smooth;
	}
	body{
		font-family: 'Montserrat', sans-serif;
		padding: none; margin: none;
		 user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;
	}
	body::-webkit-scrollbar {
	    width: 2em;
	}
	body::-webkit-scrollbar-track {
	    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	}
	 
	body::-webkit-scrollbar-thumb {
	  background-color: darkgrey;
	  outline: 1px solid slategrey;
	}



/*---------charSelection----------*/
	#charSelection{
		display: block;
		height: 100vh; width: 100vw;
		background-color: #E0E0E0;
	/*	background: linear-gradient(to top left, #669999 0%, black 100%);*/
		overflow-y: scroll;
	}
	#controllerDiv{
		display: block;
	    position: fixed;
	    left: 0vw;
	    top: 0;
	    margin-top: 0vh;
	    border: 1px solid black;
	    box-shadow: 10px 10px 30px black;
	    background-image: url("images/blackBg3.jpg");
		background-image: url("images/bgBlack2.jpg");
	    padding: 2vw;
		float: right;
		height: 100vh; width: 100vw;
		background-size: cover;
		background-repeat: no-repeat;
		overflow-y: scroll;
		z-index: 100;
		box-sizing: border-box;
		overflow-x: hidden;
		white-space: nowrap;
	}
	#controllerDiv::-webkit-scrollbar {
	    width: 2em;
	}
	 
	#controllerDiv::-webkit-scrollbar-track {
	    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	}
	 
	#controllerDiv::-webkit-scrollbar-thumb {
	  background-color: darkgrey;
	  outline: 1px solid slategrey;
	}
	#messageDiv{
		/*display: none;*/
		height: 12vh; width: 35vw;
		background-color: grey;
		color: white;
		font-size: 3.5vh;
		opacity: 0.7;
		border: 1px solid black;
		position: absolute;
		text-align: center;
		line-height: 12vh;
		vertical-align: middle;
		border: 1px solid black;
		box-shadow: 10px 10px 30px black;
		transition: 0.2s;
		font-size: 3vh;
		opacity: 0;
		position: fixed;
		color: white;
		left: 12vw; top: 50vh;
		z-index: 300;
	}
	#messageDiv:hover{
		opacity: 0.7;
	}
	#leftSectionDiv{
		padding: 1vw;
		float: left;
		height: 160vh; width: 60%;
		background-size: cover;
		background-repeat: no-repeat;
		overflow-y: scroll;
		z-index: 100;
		box-sizing: border-box;
		overflow: hidden;
		white-space: nowrap;
	}
	#playerNum{
		margin: 0; padding-left: 1vw;
		color: white;
		font-size: 1.5vw
	}
	h1{
		padding: 0.5vw; margin: 0vw;
		font-size: 3vw;
		color: white;
		z-index: 100;
	}
	#submit{
		padding-left: 1vw;
	}
	#startBtn{
		height: 7vw; width: 7vw;
		position: absolute;
		z-index: 2;
		top: 4vw; right: 38vw;
		background-image: url("images/start.png");
		background-size: cover;
	/*	animation: bounce 2s infinite;*/
		cursor: pointer;
	}
	@keyframes bounce{
		0%, 100% {
	    transform: translateY(0);
	  }
	  50% {
	    transform: translateY(20px);
	  }
	} 
	#btnSection{
		position: fixed;
		height: 10%; width: 55%;
		left: 0; top: 0;
		margin-left: 3vw;
		margin-top: 1vh;
		z-index: 5000;
	}
	.btn{
		font-size: 1vw;
		height: 3vw; width: 3vw;
		color: white; background-color:none;
		border-radius: 50%;
		text-align: center;
		line-height: 3vw;
		vertical-align: middle;
		margin-left: 0vw;
		display: inline-block;
		cursor: pointer;
	}
	.btn:hover{
		background-color: #1f1f1f;
		color: black;
		background-color: white;
	}
	#btn1, #btn7{
		margin-left: 0;
	}
	#input{
		margin-left: 0vw; margin-top: 1vh;
		position: relative;
		height: 10%; width: 30%;
	}
	.inputText{
		color: white;
		font-size: 1vw;
	}
	#selectionText{
		position: fixed;
		right: 2vw; top: 2vh;
		height: 15%; width: 50%;
		background: linear-gradient(to top left, blue 0%, black 100%);
		background: black;
		display: inline-block;
		border-radius: 20%;
	}
	#selectionScreen{
		padding: 2vw;
		float: right;
		height: 60vh; width: 40%;
		background-size: cover;
		background-repeat: no-repeat;
		overflow-y: scroll;
		z-index: 100;
		box-sizing: border-box;
		overflow-x: hidden;
		white-space: nowrap;
	}
	#displayScreen{
		position: absolute; bottom: 2vh; left: 0%;
		height: 55%; width: 40%;
		background-color: white;
		margin-left: 3vw;
		margin-right: 3vw;
		margin-top: 10vh;
		margin-bottom: 2vh;
		background-image: url("images/character_assets/CharacterSelection_gifs/mainGif.gif");
		background-size: cover;
	}
	#startInfo{
		position: absolute;
		right: 15vw; top: 10vh;
		height: 3vw; width: 20vw;
		z-index: 10;
		background-color: white;
		border: 1px black solid;
		box-shadow: 5px 5px 10px black;
	}
	@keyframes flipOne{
		0%{}
		100%{opacity: 0;}
	/*	100%{transform: rotateY(180deg);}*/
	}

	@keyframes flipTwo{
		0%{ opacity: 0; }
		100%{opacity: 1;}
	}
	#selectionScreen::-webkit-scrollbar {
	    width: 2em;
	}
	#selectionScreen::-webkit-scrollbar-track {
	    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	}
	#selectionScreen::-webkit-scrollbar-thumb {
	  background-color: darkgrey;
	  outline: 1px solid slategrey;
	}
	#charSelBottomPanel{
	    position: fixed;
	    top: 12vh;
	    left: 0vw;
	    height: 5vh;
	    width: 25vw;
	    background-color: black;
	    text-align: left;
	    line-height: 0.5vh;
	    color: white;
	    vertical-align: middle;
	    cursor: pointer;
	    z-index: 100;
	    box-shadow: 10px 10px 30px #1f1f1f;
	    opacity: 0.8;
	    padding-left: 3vw;
	}
	#normalText{
		font-size: 2vh;
		padding: none;
		margin-top: 2vh;
	}
	p{
		margin: 1vh;
	}
	.char{
		height: 25%; width: 18%;
		margin-left: 1vw; margin-top: 3vh;
		background-color: black;
		display: inline-block;
	  	box-shadow: 5px 5px 10px black;
	  	background-size: cover;
	  	background-position: 0px 125px;
	  	cursor: pointer;
	  	animation-fill-mode: forwards;
	  	transition: 0.5s;
	  	z-index: 2000;
	}
	.char:hover{
		box-shadow: 20px 20px 40px 5px black;
	}
	.charModels{
		height: 40vh; width: 10vw;
		position: absolute;
		background-size: contain;
		background-repeat: no-repeat;
/*		-webkit-filter: grayscale(100%);
		filter: grayscale(100%);*/
		left: 0vw; bottom: 2vh;
		opacity: 0.15;
		transition: 0.2s;
		/*display: none;*/
		border: 0;
		z-index: -2;
	}

	/*-----------Char Models----------*/


		#budlight{
			left: 2vw; bottom: 20vh;
			content: url("Characters/Char/budlight.png");
			z-index: 6;
			height: 33vh; width: 8;
		}
		#corona{
			left: 10vw; bottom: 19vh;
			content: url("Characters/Char/corona.png");
			z-index: 6;
			height: 60vh;
			width: 10.5vw;
		}
		#redbull{
			left: 12vw; bottom: 15.5vh;
			content: url("Characters/Char/redbull.png");
			z-index: 6;
			height: 42vh; width: 22vw;
		}
		#stella{
			left: 16vw; bottom: 17vh;
			content: url("Characters/Char/stella.png");
			z-index: 6;
			height: 60vh; width: 29vw;
		}
		#whiskey{
			left: 30.5vw; bottom: 14.5vh;
			content: url("Characters/Char/whiskey.png");
			z-index: 6;
			height: 72vh; width: 17vw;
		}
		#guinness{
			left: 40vw; bottom: 15vh;
			content: url("Characters/Char/guinness.png");
			z-index: 6;
			height: 65vh; width: 15vw;
		}
		#smirnoff{
			left: 2vw; bottom: -54.5vh;
			content: url("Characters/Char/smirnof.png");
			z-index: 6;
			height: 35vh; width: 10vw;
		}
		#heineken{
			left: 8vw; bottom: -57vh;
			content: url("Characters/Char/heineken.png");
			z-index: 6;
			height: 62vh; width: 16vw;
		}
		#rumCoke{
			left: 16vw; bottom: -59vh;
			content: url("Characters/Char/rumAndCoke.png");
			z-index: 6;
			height: 57vh; width: 16vw;
		}
		#martini{
			left: 19.5vw; bottom: -61vh;
			content: url("Characters/Char/martini.png");
			z-index: 6;
			height: 60vh; width: 24vw;
		}
		#wine{
			left: 33vw; bottom: -56vh;
			content: url("Characters/Char/wine.png");
			z-index: 6;
			height: 60vh; width: 12vw;
		}
		#whiteclaw{
			left: 41vw; bottom: -57vh;
			content: url("Characters/Char/whiteClaw.png");
			z-index: 6;
			height: 50vh; width: 11.5vw;
		}

		#char1:hover ~ #budlight {
			filter: none;
			opacity: 1;
		}
		#char2:hover ~ #corona {
			filter: none;
			opacity: 1;
		}
		#char3:hover ~ #redbull {
			filter: none;
			opacity: 1;
		}
		#char4:hover ~ #stella {
			filter: none;
			opacity: 1;
		}
		#char5:hover ~ #whiskey {
			filter: none;
			opacity: 1;
		}
		#char6:hover ~ #guinness {
			filter: none;
			opacity: 1;
		}
		#char7:hover ~ #smirnoff {
			filter: none;
			opacity: 1;
		}
		#char8:hover ~ #heineken {
			filter: none;
			opacity: 1;
		}
		#char9:hover ~ #rumCoke {
			filter: none;
			opacity: 1;
		}
		#char10:hover ~ #martini {
			filter: none;
			opacity: 1;
		}
		#char11:hover ~ #wine {
			filter: none;
			opacity: 1;
		}
		#char12:hover ~ #whiteclaw {
			filter: none;
			opacity: 1;
		}

	body{
		padding: 0;
		margin: 0px;
		background-color: black;
	}
	.selected{
		-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
		filter: grayscale(100%);
		pointer-events: none;
		color: grey;
	}





/*---------gameScreen-------------*/
	#gameScreen{
		height: 90vh; width: 1580vw;
		background-color: #1f1f1f;
		display: none;
	}
	#gameScreen2{
		position: absolute;
		height: 90vh; width: 1580vw;
		display: inline-block;
	}
	.seperator{
		height: 100vh; width: 5vw;
		position: relative;
		left: -2.5vw; top: 0;
		padding: 0; margin: 0;
	}
	.gameTile, .lastCard{
		height: 67vh; width: 23vw;
		margin-top: 0vh; margin-left: 0vw;
		box-shadow: 10px 10px 30px black;
		display: inline-block;
		left: 0; right: 0;
		position: relative;
		margin-left: 1.5vw;
		margin-top: 4vh;
		box-sizing: border-box;
		background-size: auto;
		background-size: 100% 100%;
		z-index: 10;
		cursor: pointer;
		overflow: visible;
	}
	#card1{
		animation-name: jump;
      	animation-duration: 3s;
      	animation-iteration-count: infinite;
      	animation-timing-function: linear;
	}
	.lastCard{
		width: 80vw;
		background-color: red;
		margin-left: 2vw;
	}
	#clickMeHand{
		position: absolute;
		height: 7vh; max-width: 7vw;
		top: 3vw; left: 20vw;
		background-image: none;
		transform: rotate(30deg);
		animation-name: click;
      	animation-duration: 3.5s;
      	animation-iteration-count: infinite;
      	animation-timing-function: linear;
		z-index: 100;
	}

	#mysteryBox{
		height: 20vh;
		width: 10vw;
		position: absolute;
		left: 510vw; bottom: 27vh;
		opacity: 0.2;
		z-index: 10;
		transition: 0.2s;
	}
	#mysteryBox:hover{
		opacity: 0.5;
		cursor: pointer;
		z-index: 20;
	}






	@keyframes click {
	  	20% {
		    transform: rotate(80deg);
	  	} 30%{
	  		transform: rotate(70deg);
	  	} 40%{
	  		transform: rotate(90deg);
	  	} 60%{
	  		transform: rotate(30deg);
	  	}
	}


/*jump animation*/
	@keyframes jump {
	  from, 20%, 53%, 80%, to {
	    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	    -webkit-transform: translate3d(0,0,0);
	    transform: translate3d(0,0,0);
	  }
	  40%, 43% {
	    -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
	    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
	    -webkit-transform: translate3d(0, -40px, 0);
	    transform: translate3d(0, -40px, 0);
	  }
	  60% {
	    -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
	    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
	    -webkit-transform: translate3d(0, -15px, 0);
	    transform: translate3d(0, -15px, 0);
	  }


	}

	.jump {
	  -webkit-animation-name: bounce;
	  animation-name: bounce;
	  -webkit-transform-origin: center bottom;
	  transform-origin: center bottom;
	}


	#app {
	  display: flex;
	  align-items: center;
	  justify-content: center
	}

	/*// ----- For Vue component*/

	$check-switch-space: 5px;
	$check-switch-outer-background-color: #cfcfcf;
	$check-switch-background-color: #2772ff;
	$check-switch-width: 100px;
	$check-switch-height: 100px;
	$check-switch-padding: 0 25px 35px 25px;
	$check-switch-border: solid $check-switch-space #000000;
	$check-switch-box-shadow: 0 20px #000000;
	$check-switch-transform: translateY(-15px);
	$check-switch-transition:
	  background-color 300ms cubic-bezier(.18,.89,.32,1.28),
	  box-shadow 300ms cubic-bezier(.18,.89,.32,1.28),
	  transform 300ms cubic-bezier(.18,.89,.32,1.28);
	$check-switch-active-background-color: #0031eb;
	$check-switch-active-box-shadow: 0 0 #000000;
	$check-switch-active-transform: translateY(5px);
	$check-switch-active-transition:
	  background-color 200ms ease-out,
	  box-shadow 200ms ease-out,
	  transform 200ms ease-out;

	.zz-check-switch {
	  background-color: $check-switch-outer-background-color;
	  width: $check-switch-width;
	  height: $check-switch-height;
	  padding: $check-switch-padding;
	  border: $check-switch-border;
	  & > input[type="checkbox"] {
	    display: none;
	    &:checked + span {
	      background-color: $check-switch-active-background-color;
	      box-shadow: $check-switch-active-box-shadow;
	      transform: $check-switch-active-transform;
	      transition: $check-switch-active-transition;
	    }
	  }
	  & > span {
	    background-color: $check-switch-background-color;
	    width: $check-switch-width;
	    height: $check-switch-height;
	    border: $check-switch-border;
	    display: block;
	    box-sizing: border-box;
	    box-shadow: $check-switch-box-shadow;
	    transform: $check-switch-transform;
	    transition: $check-switch-transition;
	  }
	}


/*---------side bar---------------*/

	.sidepanel {
	  width: 0;
	  position: fixed;
	  z-index: 1;
	  height: 250px;
	  top: 0;
	  right: 0;
	  overflow-x: visible;
	  transition: 0.1s;
	  padding-top: 60px;
	}
	.sidepanel a {
	  padding: 8px 8px 8px 32px;
	  text-decoration: none;
	  color: white;
	  display: block;
	  transition: 0.1s;
	}
	.sidepanel a:hover {
	  color: #f1f1f1;
	}
	.sidepanel .closebtn {
	  position: fixed;
	  top: 0;
	  right: 25px;
	  font-size: 1.5vh;
	}
	.openbtn {
	  position: fixed;
	  right: 0; top: 5vh;
	  overflow: visible;	
	  font-size: 2vh;
	  cursor: pointer;
	  color: white;
	  padding: 10px 15px;
	  border: none;
	}
	#helpBtn{
		position: fixed;
		right: 0; top: 5vh;
		height: 5vh; width: 5vw;
		background-color: black;
		color: white;
		user-select: none;
		line-height: 5vh; vertical-align: middle;	
		overflow: visible;
		z-index: 10;
		text-align: center;
		box-shadow: 5px 5px 10px black;
		transition: 0.2s;
	}
	#helpBtn:hover{
		cursor: pointer;
		width: 7vw;
	}
	#sidePanel{
		position: fixed;
		right: 0; top: 10vh;
		height: 70vh; width: 0vw;
		z-index: 11;
		background-image: url("images/bgBlack2.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		user-select: none;
		color: white;
		transition: 0.2s;
		box-shadow: 5px 5px 10px black;
		overflow-y: auto;
	}

	.itemDiv{
		position: relative;
		margin: 10px;
		height: 15%; width: 90%;
		margin: 0;
	}
	.itemImg{
		position: relative;
		display: inline-block;
		left: 0; top: 0;
		height: 100%; width: 20%;
		background-size: contain;
		float: left;
		transition: 2s;

	}
	#item1Div{
		background-image: url("images/hand.gif");
		width: 100%;
		background-size: contain;
		background-repeat: no-repeat;
		margin-top: 2vh;
	}
	#item2Div{
		margin-top: 5vh;
		width: 100%;
		background-size: contain;
		background-repeat: no-repeat;
	}
	.itemText{
		margin-top: 1vh;
		position: relative;
		display: inline-block;
		height: 100%; width: 75%;
		float: right;
		overflow: show;
		font-size: 2vh;
		opacity: 0;
		transition: 2s;
	}
	#sidePanel::-webkit-scrollbar {
	}
	#sidePanel::-webkit-scrollbar-track {
	    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	}
	#sidePanel::-webkit-scrollbar-thumb {
	  background-color: darkgrey;
	  outline: 1px solid slategrey;
	}
	.odd{
		/*background-color: grey;*/
	}
	.even{
		/*background-color: darkgrey;*/
	}


	#item2Div{
		/*background-color: green;*/
	}



	#card1, #card2, #card3, #card4{
		background-repeat: no-repeat;
	}
	#tileText1{
		color: white;
		text-align: center;
		padding-top: 10vh;
		font-size: 4vh;
	}



/*---------bottom panel-----------*/
	.bottomPanel{
		display: none;
		position: fixed;
		height: 10vh; 
	}
	#controlPanel{
		bottom: 0; left: 0;
		width: 100vw;
		background-color: #002266;
		box-sizing: border-box;
		color: white;
		letter-spacing: 10px;
	}
	#rollText{/**/
		font-size: 4vh;
		vertical-align: middle;
		text-align: center;	
	}
	#rollDie{
		height: 10vh; width: 50vw;
		position: absolute;
		left: 0; bottom: 0;	
		background-color: #002266;
		padding: 0; margin: 0;	
	}
	#rollDie:hover{
		background-color: #001133;
		cursor: pointer;
	}
	#rollDieText, #rollTurnText{
		left: 0;
		width: 50vw;
	}
	#rollTurnText{
		display: none;
	}
	.panelController{
		width: 	50%;
	}
	.panelText{
		float: left;
		vertical-align: middle;
		text-align: center;	
		font-size: 4vh;
		line-height: 10vh;
		vertical-align: middle;
		text-align: center;	
		padding: 0; margin: 0;
		position: absolute;
		bottom: 0;	
		height: 10vh; width: 50vw;
	}
	#rollNumText{
		left: 50vw;
	}
	#rollNum{
		left: 50vw;	
		padding: 0; margin: 0;
	}
	.playerStyle{
		/*height: 20vh; width: 8vh;*/
		position: absolute; bottom: 15vh;
		float: left;
		transition: 2s;
		z-index: 15;
	}
	#floor{
		position: absolute; bottom: 10vh;
		left: 2vw; height: 10vh; width: 300vw;
		background-color: #1f1f1f;
		overflow: visible;
		z-index: 0;
		transform: skew(-0.07turn, 0deg);
		background-image: url("characterModels/floorTile.jpg");
	}



/*individual styles for characters*/
	.kimStyle{
		height: 30vh; width: 10vw;
	}
	.trooperStyle{
		height: 30vh; width: 20vw;
	}
	.mcLovinStyle{
		height: 20vh; width: 10vw;
		background-color: orange;
	}



/*---------Model------------------*/
	#modelDialog{
		position: fixed; 
		left: 20vw; top: 0;
		margin-top: 15vh;
		height: 50vh; width: 60vw;
		background-color: #1f1f1f;
		z-index: 20;
		display: none;
		border: 1px solid black;
		box-shadow: 10px 10px 30px black;
	}
	/*#xBtn{
		position: relative;
		left: 0; top: 0;
		height: 15vh; width: 15vw;
		background-color: red;
		display: block;
	}*/

	#coverProof{
		position: fixed;
		left: 0; top: 0;
		height: 100vh; width: 100vw;
		z-index: 19;
		display: none;
	}
	#modelImg{
		position: absolute;
		left: 10px; top: 10px;
		height: 48vh; width: 18vw;
	}
	/*#img2{
		position: absolute;
		left: 10px; top: 10px;
		height: 10vh; width: 5vw;
		background-color: red;	
		display: block;
	}*/
	#modelText{
		position: absolute;
		right: 10px; top: 10px;
		height: 48vh; width: 40vw;
		background-color: darkgrey;
		background-image: url("images/bgBlack2.jpg");
		text-align: center;
		padding-top: 8vh;
		font-size: 5vh;
		box-sizing: border-box;
		padding-left: 4vw; padding-right: 4vw;
		background-size: cover;
		background-repeat: no-repeat;
		color: white;
	}
	#bottomCover{
		position: absolute;
		bottom: 0; left: 0;
		height: 12vh; width: 100vw;
		background-color: #002266;
		text-align: center;
		color: white;
		font-size: 4vh;
		line-height: 10vh;
		vertical-align: middle;
		cursor: pointer;
	}

