
/*
	Name: gameLogic.js
	Author : Nicolas Gardin
	Author : Vincent Susinu
	Date Modified: 02/08/2019
*/



/*---------mainStyles----------*/
	.fill{
	}

	html{
		scroll-behavior: smooth;
	}
	body{
		font-family: 'Montserrat', sans-serif;
		padding: none; margin: none;
	}
	body::-webkit-scrollbar {
	    width: 2em;
	}
	 
	body::-webkit-scrollbar-track {
	    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	}
	 
	body::-webkit-scrollbar-thumb {
	  background-color: darkgrey;
	  outline: 1px solid slategrey;
	}


/*---------charSelection----------*/
	#charSelection{
		display: block;
		height: 100vh; width: 100vw;
		background-color: #E0E0E0;
	/*	background: linear-gradient(to top left, #669999 0%, black 100%);*/
		overflow-y: scroll;
	}
	#controllerDiv{
		display: block;
	    position: fixed;
	    left: 20vw;
	    top: 0;
	    margin-top: 15vh;
	    height: 50vh;
	    width: 60vw;
	    background-color: #1f1f1f;
	    border: 1px solid black;
	    box-shadow: 10px 10px 30px black;
	    background-image: url("images/blackBg3.jpg");
	}
	#playerNum{
		margin: 0; padding-left: 1vw;
		color: white;
		font-size: 1.5vw
	}
	h1{
		padding: 0.5vw; margin: 0vw;
		font-size: 3vw;
		color: white;
		z-index: 100;
	}
	#submit{
		padding-left: 1vw;
	}
	#startBtn{
		height: 7vw; width: 7vw;
		position: absolute;
		z-index: 2;
		top: 4vw; right: 38vw;
		background-image: url("images/start.png");
		background-size: cover;
	/*	animation: bounce 2s infinite;*/
		cursor: pointer;
	}
	@keyframes bounce{
		0%, 100% {
	    transform: translateY(0);
	  }
	  50% {
	    transform: translateY(20px);
	  }
	} 
	#btnSection{
		position: absolute;
		height: 40%; width: 45%;
		left: 0; top: 0;
		margin-left: 3vw;
		margin-top: 1vh;
	}
	.btn{
		font-size: 1vw;
		height: 3vw; width: 3vw;
		color: white; background-color:none;
		border-radius: 50%;
		text-align: center;
		line-height: 3vw;
		vertical-align: middle;
		margin-left: 0vw;
		display: inline-block;
		cursor: pointer;
	}
	.btn:hover{
		background-color: #1f1f1f;
		color: black;
		background-color: white;
	}
	#btn1, #btn7{
		margin-left: 0;
	}
	#input{
		margin-left: 0vw; margin-top: 1vh;
		position: relative;
		height: 10%; width: 30%;
	}
	.inputText{
		color: white;
		font-size: 1vw;
	}
	#selectionText{
		position: fixed;
		right: 2vw; top: 2vh;
		height: 15%; width: 50%;
		background: linear-gradient(to top left, blue 0%, black 100%);
		background: black;
		display: inline-block;
		border-radius: 20%;
	}
	#displayScreen{
		position: absolute; bottom: 2vh; left: 0%;
		height: 55%; width: 40%;
		background-color: white;
		margin-left: 3vw;
		margin-right: 3vw;
		margin-top: 10vh;
		margin-bottom: 2vh;
		background-image: url("images/character_assets/CharacterSelection_gifs/mainGif.gif");
		background-size: cover;
	}
	#selectionScreen{
		padding: 2vw;
		float: right;
		height: 50vh; width: 50%;
		background-size: cover;
		background-repeat: no-repeat;
		overflow-y: scroll;
		z-index: 100;
		box-sizing: border-box;
	}
	#startInfo{
		position: absolute;
		right: 15vw; top: 10vh;
		height: 3vw; width: 20vw;
		z-index: 10;
		background-color: white;
		border: 1px black solid;
		box-shadow: 5px 5px 10px black;
	}
	@keyframes flipOne{
		0%{}
		100%{opacity: 0;}
	/*	100%{transform: rotateY(180deg);}*/
	}

	@keyframes flipTwo{
		0%{ opacity: 0; }
		100%{opacity: 1;}
	}
	#selectionScreen::-webkit-scrollbar {
	    width: 2em;
	}
	#selectionScreen::-webkit-scrollbar-track {
	    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	}
	#selectionScreen::-webkit-scrollbar-thumb {
	  background-color: darkgrey;
	  outline: 1px solid slategrey;
	}
	#charSelBottomPanel{
	    position: absolute;
	    bottom: 0;
	    left: 0;
	    height: 12vh;
	    width: 100vw;
	    background-color: #002266;
	    text-align: center;
	    color: white;
	    vertical-align: middle;
	    cursor: pointer;
	}
	#normalText{
		font-size: 3vh;
		padding: none;
		margin-top: 2vh;
	}
	#smallText{
		margin: none;
		font-size: 2vh;
	}
	p{
		margin: 1vh;
	}
	.char{
		height: 25%; width: 45%;
		margin-left: 1vw; margin-top: 3vh;
		background-color: black;
		display: inline-block;
	  	box-shadow: 5px 5px 10px black;
	  	background-size: cover;
	  	background-position: 0px 125px;
	  	cursor: pointer;
	  	animation-fill-mode: forwards;
	  	transition: 0.5s;
	}
	.char:hover{
		box-shadow: 20px 20px 40px 5px black;
	}
	#char1:hover ~ #displayScreen {
		background-image: url("images/character_assets/CharacterSelection_gifs/kim.gif");
	}
	#char2:hover ~ #displayScreen{
		background-image: url("images/character_assets/CharacterSelection_gifs/trooper.gif");
	}
	#char3:hover ~ #displayScreen{
		background-image: url("images/character_assets/CharacterSelection_gifs/lovin.gif");
	}
	#char4:hover ~ #displayScreen{
		background-image: url("images/character_assets/CharacterSelection_gifs/george.gif");
	}
	#char5:hover ~ #displayScreen{
		background-image: url("images/character_assets/CharacterSelection_gifs/steve.gif");
	}
	#char6:hover ~ #displayScreen{
		background-image: url("images/character_assets/CharacterSelection_gifs/krimsen1.gif");
	}
	#char7:hover ~ #displayScreen{
		background-image: url("images/character_assets/CharacterSelection_gifs/chow.gif");
	}
	#char8:hover ~ #displayScreen{
		background-image: url("images/character_assets/CharacterSelection_gifs/hoy1.gif");
	}
	#char9:hover ~ #displayScreen{
		background-image: url("images/character_assets/CharacterSelection_gifs/dwight.gif");
	}
	#char10:hover ~ #displayScreen{
		background-image: url("images/character_assets/CharacterSelection_gifs/trump.gif");
	}
	#char11:hover ~ #displayScreen{
		background-image: url("images/character_assets/CharacterSelection_gifs/brian1.gif");
	}
	#char12:hover ~ #displayScreen{
		background-image: url("images/character_assets/CharacterSelection_gifs/gump.gif");
	}
	#char13:hover ~ #displayScreen{
		background-image: url("images/character_assets/CharacterSelection_gifs/sparta.gif");
	}
	#char14:hover ~ #displayScreen{
		background-image: url("images/character_assets/CharacterSelection_gifs/jesus.gif");
	}
	#char15:hover ~ #displayScreen{
		background-image: url("images/character_assets/CharacterSelection_gifs/neutron.gif");
	}
	#char16:hover ~ #displayScreen{
		background-image: url("images/character_assets/CharacterSelection_gifs/bud.gif");
	}
	#char17:hover ~ #displayScreen{
		background-image: url("images/character_assets/CharacterSelection_gifs/oprah.gif");
	}
	#char18:hover ~ #displayScreen{
		background-image: url("images/character_assets/CharacterSelection_gifs/tiger.gif");
	}
	#char19:hover ~ #displayScreen{
		background-image: url("images/character_assets/CharacterSelection_gifs/titanic.gif");
	}
	#char20:hover ~ #displayScreen{
		background-image: url("images/character_assets/CharacterSelection_gifs/thanos.gif");
	}
	#char21:hover ~ #displayScreen{
		background-image: url("images/character_assets/CharacterSelection_gifs/mj.gif");
	}
	#char22:hover ~ #displayScreen{
		background-image: url("images/character_assets/CharacterSelection_gifs/thor.gif");
	}
	#char23:hover ~ #displayScreen{
		background-image: url("images/character_assets/CharacterSelection_gifs/donkey.gif");
	}
	#char24:hover ~ #displayScreen{
		background-image: url("images/character_assets/CharacterSelection_gifs/joey.gif");
	}
	#char25:hover ~ #displayScreen{
		background-image: url("images/character_assets/CharacterSelection_gifs/hirambe.gif");
	}
	#char26:hover ~ #displayScreen{
		background-image: url("images/character_assets/CharacterSelection_gifs/jonny.gif");
	}
	body{
		padding: 0;
		margin: 0px;
		background-color: black;
	}
	.selected{
		-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
		filter: grayscale(100%);
		pointer-events: none;
		color: grey;
	}


/*---------gameScreen-------------*/
	#gameScreen{
		height: 90vh; width: 1000vw;
		background-color: #1f1f1f;
		display: none;
	}
	#gameScreen2{
		position: absolute;
		height: 90vh; width: 1000vw;
		display: inline-block;
	}
	.seperator{
		height: 100vh; width: 5vw;
		position: relative;
		left: -2.5vw; top: 0;
		padding: 0; margin: 0;
	}
	.gameTile{
		height: 70vh; width: 21vw;
		margin-top: 0vh; margin-left: 0vw;
		box-shadow: 10px 10px 30px black;
		display: inline-block;
		left: 0; right: 0;
		position: relative;
		margin-left: 3vw;
		margin-top: 4vh;
		box-sizing: border-box;
		background-size: auto;
		background-size: 100% 100%;
		z-index: 3;
		cursor: pointer;
		overflow: visible;
	}


/*---------side bar---------------*/

	.sidepanel {
	  width: 0;
	  position: fixed;
	  z-index: 1;
	  height: 250px;
	  top: 0;
	  right: 0;
	  overflow-x: visible;
	  transition: 0.1s;
	  padding-top: 60px;
	}
	.sidepanel a {
	  padding: 8px 8px 8px 32px;
	  text-decoration: none;
	  color: white;
	  display: block;
	  transition: 0.1s;
	}
	.sidepanel a:hover {
	  color: #f1f1f1;
	}
	.sidepanel .closebtn {
	  position: fixed;
	  top: 0;
	  right: 25px;
	  font-size: 1.5vh;
	}
	.openbtn {
	  position: fixed;
	  right: 0; top: 5vh;
	  overflow: visible;	
	  font-size: 2vh;
	  cursor: pointer;
	  color: white;
	  padding: 10px 15px;
	  border: none;
	}
	#legendBtn{
		position: fixed;
		right: 0; top: 5vh;
		height: 5vh; width: 5vw;
		background-color: black;
		color: white;
		user-select: none;
		line-height: 5vh; vertical-align: middle;	
		overflow: visible;
		z-index: 10;
		text-align: center;
		box-shadow: 5px 5px 10px black;
		transition: 0.2s;
	}
	#legendBtn:hover{
		cursor: pointer;
	}
	#sidePanel{
		position: fixed;
		right: 0; top: 10vh;
		height: 70vh; width: 0vw;
		z-index: 11;
		background-image: url("images/bgBlack2.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		user-select: none;
		color: white;
		transition: 0.2s;
		box-shadow: 5px 5px 10px black;
		overflow-y: auto;
	}

	.itemDiv{
		position: relative;
		margin: 10px;
		height: 15%; width: 90%;
		margin: 0;
	}
	.itemImg{
		position: relative;
		display: inline-block;
		left: 0; top: 0;
		height: 100%; width: 20%;
		background-size: contain;
		float: left;
		transition: 2s;

	}
	#item1Div{
		background-image: url("images/hand.gif");
		width: 100%;
		background-size: contain;
		background-repeat: no-repeat;
		margin-top: 2vh;
	}
	#item2Div{
		margin-top: 5vh;
		width: 100%;
		background-size: contain;
		background-repeat: no-repeat;
	}
	.itemText{
		margin-top: 1vh;
		position: relative;
		display: inline-block;
		height: 100%; width: 75%;
		float: right;
		overflow: show;
		font-size: 2vh;
		opacity: 0;
		transition: 2s;
	}
	#sidePanel::-webkit-scrollbar {
	}
	#sidePanel::-webkit-scrollbar-track {
	    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	}
	#sidePanel::-webkit-scrollbar-thumb {
	  background-color: darkgrey;
	  outline: 1px solid slategrey;
	}
	.odd{
		/*background-color: grey;*/
	}
	.even{
		/*background-color: darkgrey;*/
	}


	#item2Div{
		/*background-color: green;*/
	}



	#card1, #card2, #card3, #card4{
		background-repeat: no-repeat;
	}
	#tileText1{
		color: white;
		text-align: center;
		padding-top: 10vh;
		font-size: 4vh;
	}


/*---------game background 2------*/
	#gameBg2{
		/*background-image: url("images/gameScreen1.jpg");*/
	}


/*---------bottom panel-----------*/
	.bottomPanel{
		display: none;
		position: fixed;
		height: 10vh; 
	}
	#controlPanel{
		bottom: 0; left: 0;
		width: 100vw;
		background-color: #002266;
		box-sizing: border-box;
		color: white;
		letter-spacing: 10px;
	}
	#rollText{/**/
		font-size: 4vh;
		vertical-align: middle;
		text-align: center;	
	}
	#rollDie{
		height: 10vh; width: 50vw;
		position: absolute;
		left: 0; bottom: 0;	
		background-color: #002266;
		padding: 0; margin: 0;	
	}
	#rollDie:hover{
		background-color: #001133;
		cursor: pointer;
	}
	#rollDieText, #rollTurnText{
		left: 0;
		width: 50vw;
	}
	#rollTurnText{
		display: none;
	}
	.panelController{
		width: 	50%;
	}
	.panelText{
		float: left;
		vertical-align: middle;
		text-align: center;	
		font-size: 4vh;
		line-height: 10vh;
		vertical-align: middle;
		text-align: center;	
		padding: 0; margin: 0;
		position: absolute;
		bottom: 0;	
		height: 10vh; width: 50vw;
	}
	#rollNumText{
		left: 50vw;
	}
	#rollNum{
		left: 50vw;	
		padding: 0; margin: 0;
	}
	.playerStyle{
		/*height: 20vh; width: 8vh;*/
		position: absolute; bottom: 15vh;
		float: left;
		transition: 2s;
		z-index: 5;
	}
	#floor{
		position: absolute; bottom: 10vh;
		left: 2vw; height: 10vh; width: 300vw;
		background-color: #1f1f1f;
		overflow: visible;
		z-index: 0;
		transform: skew(-0.07turn, 0deg);
		background-image: url("characterModels/floorTile.jpg");
	}

/*individual styles for characters*/
	.kimStyle{
		height: 30vh; width: 10vw;
	}
	.trooperStyle{
		height: 30vh; width: 20vw;
	}
	.mcLovinStyle{
		height: 20vh; width: 10vw;
		background-color: orange;
	}






/*---------Model------------------*/
	#modelDialog{
		position: fixed; 
		left: 20vw; top: 0;
		margin-top: 15vh;
		height: 50vh; width: 60vw;
		background-color: #1f1f1f;
		z-index: 20;
		display: none;
		border: 1px solid black;
		box-shadow: 10px 10px 30px black;
	}
	/*#xBtn{
		position: relative;
		left: 0; top: 0;
		height: 15vh; width: 15vw;
		background-color: red;
		display: block;
	}*/

	#coverProof{
		position: fixed;
		left: 0; top: 0;
		height: 100vh; width: 100vw;
		z-index: 19;
		display: none;
	}
	#modelImg{
		position: absolute;
		left: 10px; top: 10px;
		height: 48vh; width: 18vw;
	}
	/*#img2{
		position: absolute;
		left: 10px; top: 10px;
		height: 10vh; width: 5vw;
		background-color: red;	
		display: block;
	}*/
	#modelText{
		position: absolute;
		right: 10px; top: 10px;
		height: 48vh; width: 40vw;
		background-color: darkgrey;
		background-image: url("images/bgBlack2.jpg");
		text-align: center;
		padding-top: 8vh;
		font-size: 5vh;
		box-sizing: border-box;
		padding-left: 4vw; padding-right: 4vw;
		background-size: cover;
		background-repeat: no-repeat;
		color: white;
	}
	#bottomCover{
		position: absolute;
		bottom: 0; left: 0;
		height: 12vh; width: 100vw;
		background-color: #002266;
		text-align: center;
		color: white;
		font-size: 4vh;
		line-height: 10vh;
		vertical-align: middle;
		cursor: pointer;
	}












